{% extends "base.html" %}
{% block content %}
{% load url from future %}
<div class="row">
  <div class="large-8 large-centered columns">
    <h1>Register on Barcamp Mumbai</h1>
  </div>
</div>

<div class="row">
  <div class="large-8 large-centered columns">
    <form method='POST' action='{% url "register" %}'>
      {% csrf_token %}
      {{ register_form }}
      <input class="button expand" type="submit" name="Register" value="Register">
    </form>
    Or <a href='{% url "login" %}{% if next %}?next={{ next }}{% endif %}'>login</a>?
  </div>
</div>

{% endblock content %}
