{% load staticfiles %}
{% load url from future %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Barcamp Mumbai{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}" />
    {% block headscripts %}{% endblock headscripts %}
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
  </head>
  <body>

    <nav class="top-bar" data-topbar style="margin-bottom:20px;">
    <ul class="title-area">
      <li class="name">
      {% block navbar_title %}
      <h1><a href='{% url "home_view" %}'>Barcamp Mumbai</a></h1>
      {% endblock navbar_title %}
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
    {% if request.user.is_authenticated %}
      <ul class="right">
        <li><a href='{% url "dashboard" %}'>Your sessions</a></li>
        <li class="divider"></li>
        <li><a href='{% url "logout" %}'>Logout</a></li>
      </ul>
    {% else %}
      <ul class="right">
        <li><a href='{% url "register" %}'>Register</a></li>
        <li class="divider"></li>
        <li><a href='{% url "login" %}'>Log in</a></li>
      </ul>
    {% endif %}
    </section>
    </nav>

    <div class="row">
      <div class="large-12 columns">
        {% block content %}{% endblock content %}
      </div>
    </div>

    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/foundation.min.js" %}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
