{% extends "camp_base.html" %}
{% load url from future %}
{% load markdown %}
{% block camp_content %}
    <h1>{{ camp.name }}</h1>

    <div class="panel callout radius">
      <div class="row">
        <div class="large-4 medium-4 columns">
          <h5>Starts</h5>
        </div>
        <div class="large-8 medium-8 columns">
          {% if camp.start %}{{ camp.start }}{% else %}To be announced{% endif %}
        </div>
      </div>

      <div class="row">
        <div class="large-4 medium-4 columns">
          <h5>Ends</h5>
        </div>
        <div class="large-8 medium-8 columns">
          {% if camp.end %}{{ camp.end }}{% else %}To be announced {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="large-4 medium-4 columns">
          <h5>Venue</h5>
        </div>
        <div class="large-8 medium-8 columns">
          <p>
          {% if camp.venue_address %}{{ camp.venue_address }}{% else %}To be announced {% endif %} <br />
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        {{ camp.description }}
      </div>
    </div>


  <div class="row">
    <div class="large-4 columns">
      <h3>Session List</h3>
    </div>
    <div class="large-4 large-offset-4 columns">
      <a class="medium radius button right" href='{% url "session_create" camp.slug %}'>Add session</a>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <table width=100%>
        <thead>
          <tr>
            <th width=70%>Session</th>
            <th width=30%>Speaker</th>
          </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
          <tr>
            <td><a href='{% url "session_view" session.camp.slug session.slug %}'>{{ session.title }}</a></td>
            <td>{{ session.speaker.name }}</td>
          </tr>
          <tr>
            <td colspan="2">{{ session.description|striptags|markdown }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock camp_content %}
