{% extends "base.html" %}
{% block content %}
    <h1>Barcamp Mumbai</h1>

    <div class="panel">
      <p>Barcamp Mumbai is a <span data-tooltip class="has-tip" title='"Free" as in "libre" AND as in "gratis"'>free</span> participant lead conference without a preset agenda.</p>
      <p>A bunch of smart people meet up over the weekend, put up a schedule on a wall and spend the rest of their time taking up sessions and discussions with each other.</p>
      <p>There is no audience. Only participants. So host a session, help out with planning, ask questions, spread the word- Everybody is invited. There really are no walls.</p>
    </div>

    <div class="panel callout radius">
      <div class="alert-box radius">
        <h4 class="text-center">Upcoming Barcamp</h4>
      </div>
      <h4><a href="bcm13">Barcamp Mumbai 13</a></h4>

      <div class="row">
        <div class="large-4 medium-4 columns">
          <h5>Date</h5>
        </div>
        <div class="large-8 medium-8 columns">
          23 February, 2014
        </div>
      </div>

      <div class="row">
        <div class="large-4 medium-4 columns">
          <h5>Time</h5>
        </div>
        <div class="large-8 medium-8 columns">
          9am to 5pm
        </div>
      </div>

      <div class="row">
        <div class="large-4 medium-4 columns">
          <h5>Venue</h5>
        </div>
        <div class="large-8 medium-8 columns">
          <p>Mukesh Patel School of Technology, Management and Engineering<br />
          Next to Cooper Hospital<br />
          Vile Parle (West), Mumbai 400056</p>
        </div>
      </div>

    </div>

    <hr></hr>
    <h2>How does this work?</h2>
    <h3>tl;dr version</h3>
    <h4 class="subheader">For those of you with ADHD</h4>
    <p>9am to 5pm. 9-10 registrations and (3 word) introductions. 10am onwards, you get to post sessions on the slots- according to convenience and availability. Every half hour = One session (20 mins) + Break (10 mins). <strong>Talk about anything</strong>. Cool?</p>

    <h3>Full version</h3>
    <h4 class="subheader">Freedom of expression</h4>
    <p>Barcamp is, fundamentally, a "free for all" event. Anyone can attend, anyone can talk, about anything. There aren't really any rules. However, to allow everyone to speak (everyone who wants to, that is) and to let everyone know what everyone else is going to be speaking about, we do "regulate" the event somewhat. </p>

    <h4 class="subheader">Venue</h4>
    <p>We typically find a venue that has one or more rooms, along with enough space outside (or in the hallways, gardens and such) that can accommodate the number of people we expect will attend. Each of these rooms can accommodate one "track" of talks, in parallel with the other rooms. In fact, you don't even have to do your talk in a room- you can do a BoF talk ("Birds of a Feather") outside (in the stairwell, on the benches outside, seated on the floor outside (don't block the way though, please)). </p>

    <h4 class="subheader">Choosing your session slot</h4>
    <p>Barcamp usually runs from 9am to 5pm/6pm. The first hour is usually spent on registrations and introductions- we like to keep these short and fun by having "3 word" introductions.</p>
    
    <p>At a predetermined time (usually between 9:45am and 10am) speakers then proceed to the "session wiki", which is a blank board with all the slots in all the tracks marked out- and choose a time slot and track for their session. The image to the right is what the session wiki might look like.</p>
    
    <p><strong>Note that this is on a first come, first served basis, so the earlier you come in, the more choices of session slots you will have</strong>. The later you show up, the fewer slots you will have available to you to choose from. Slots may be exhausted if you turn up really late. </p>

    <h4 class="subheader">Proceedings</h4>
    <p>Thereafter, our sessions begin, in the order listed on the session wiki. We have two sessions every hour- each session being 20 minutes long, followed by a 10 minute break- which is used as a change-over time for the next speaker (hooking up with the projector (we try and ensure you have access to a projector), setting up the internet and such), for questions and answers, for participants to interact with speakers, to move between tracks and so on. </p>

    <h4 class="subheader">Taking it "offline"</h4>
    <p>This 20 minute time-limit is only within the class. If you want to keep talking, or if there are more questions than you are able to answer within the subsequent 10-minute break, you can take your session "off-line", that is to say, you (and everyone else who is interested) head outside the class and continue talking to people who are interested in your session there. </p>

    <h4 class="subheader">Endnotes</h4>
    <p>Know that this is a very informal event, people will be entering and leaving during the talk. People will ask you questions in between. Make this interactive, don't consider this a "lecture"- think of it as a discussion with your friends, and their friends.</p>
    
    <p>Barcamp is all about freedom- just as there are no restrictions on topics to talk about, there are no restrictions on participants to attend. Therefore, if you find a talk boring, or you feel you do not wish to attend, for any reason, feel free to leave and head over to another track, or attend the BoF meets ("Birds of a Feather") outside.</p>
    
    <p>Finally, Barcamp is all about the community. We do not have any "audience" or "spectators", we only have "participants". </p>

    <hr></hr>

    <h2>How much does this cost?</h2>
    <p>Nothing- there is no registration fee.</p>

    <p>This is a community event. Someone offers to host us- so we usually get the venue for free. People pay for their own food (we'll tell you where the canteen or the closest restaurants are), travel and such.</p>

    <hr></hr>

    <h2>Sponsorship</h2>
    <p>We don't solicit sponsorships any more, but if you'd like to get in touch with us to sponsor something- like chai, paani, snacks, lunch (we love you), stationery, banners, space shuttle rides, an internet connection, projector, etc., either by way of cash, or providing the facilities directly, post it on the Barcamp Mumbai Facebook page or tweet us <a target="_blank" href="https://twitter.com/barcampmumbai">@BarcampMumbai</a>.</p>

    <p><em>Update</em>: We've been getting a LOT of emails offering us hosting space and web services lately. We are good to go with our current setup for the time being, thanks! </p>

    <hr></hr>

    <h2>Participation</h2>
    <ul>
      <li>Take a session at Barcamp. There is no need for you to be an expert on the topic. Whatever area it is that you are well versed with, there is a good chance that you will find a bunch of people who know nothing about it.</li>
      <li>Interact with speakers. Barcamp isn't about lectures. Ask questions, clarifications, make comments. This helps further the discussion and enriches the spread of knowledge.</li>
      <li>Help man the registration desks, set up posters, help with time-keeping, bring in and set up routers, spike guards, video (and image) cameras, help guide all the confused looking people (otherwise called "newbies"), help with the clean-up, etc.</li>
      <li>Bring in sponsorship. If you think someone might be able to sponsor Barcamp, ask them to (don't wait for our go-ahead). If they are receptive, ask them to talk to one of the core-team members (Netra is typically the go-to person for all things financial at Barcamp). Talk to your employer. Talk to your friends. Barcamp doesn't need much money to organize, this is a very low cost, high impact event.</li>
      <li>Find speakers. Interesting people. People you'd like to listen to. People you'd like to interact with.</li>
      <li>Spread the word! Tweet about the next camp, blog, put it up as your favourite social network's status, tell your friends, RSVP to the event page (usually on Facebook), invite your friends, yell from the roof-tops (make sure you don't get arrested), live tweet, dead tweet, etc.</li>
    </ul>

    <hr></hr>

    <h2>What is Barcamp <strong>NOT</strong>?</h2>
    <p>A place to advertise your products, services, or company.</p>

    <p>While the format does not restrict you on topics that you can talk about, we discourage anyone from taking up speaker slots for promoting specific products, services or firms. Note that this is different from using your expertise in a specific product or service for teaching or doing a demo. For example, taking a crash course on Ruby on Rails (encouraged) is different from talking about your company's Ruby on Rails offerings (discouraged).</p>

    <p>If you still choose to take up a speaker slot to advertise your product- remember that participants have the same freedoms that speakers do. They can and may choose to walk out of your session.</p>

    <p>If you wish to speak to specific people about your product, service or firm, we recommend taking a BoF session outside, instead of taking up a speaker slot. There will be an option to mark out a BoF session on the session wiki. </p>

    <hr></hr>

    <h2>Still have questions?</h2>
    <p>Send us a tweet <a target="_blank" href="https://twitter.com/barcampmumbai">@BarcampMumbai</a> or email us at <a href="mailto:team@barcampmumbai.org">team@barcampmumbai.org</a> </p>

{% endblock content %}
