{% extends "base.html" %}
{% block content %}
    <h1>Scicamp Mumbai</h1>

    <div class="panel">
      <p>Scicamp Mumbai is a <span data-tooltip class="has-tip" title='"Free" as in "libre" AND as in "gratis"'>free</span>, <a href='http://barcampmumbai.herokuapp.com/'>barcamp style</a>, participant lead conference that discusses science and technology.</p>
      <p>A bunch of smart people meet up over the weekend, put up a schedule on a wall and spend the rest of their time taking up sessions and discussions with each other.</p>
      <p>There is no audience. Only participants. So host a session, help out with planning, ask questions, spread the word- Everybody is invited. There really are no walls.</p>
    </div>

    <div class="panel callout radius">
      <div class="alert-box radius">
        <h4 class="text-center">Upcoming Scicamp</h4>
      </div>
      <h4><a href="scm1">Scicamp Mumbai 1</a></h4>

      <div class="row">
        <div class="large-4 medium-4 columns">
          <h5>Date</h5>
        </div>
        <div class="large-8 medium-8 columns">
          27 April, 2014
        </div>
      </div>

      <div class="row">
        <div class="large-4 medium-4 columns">
          <h5>Time</h5>
        </div>
        <div class="large-8 medium-8 columns">
          9am to 5pm
        </div>
      </div>

      <div class="row">
        <div class="large-4 medium-4 columns">
          <h5>Venue</h5>
        </div>
        <div class="large-8 medium-8 columns">
          <p>Mukesh Patel School of Technology, Management and Engineering<br />
          Next to Cooper Hospital<br />
          Vile Parle (West), Mumbai 400056</p>
        </div>
      </div>

    </div>


{% endblock content %}
